.header{
    background-color: darkblue;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 1.5em;
}
.nav ul li {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    list-style: none;
    font-weight: bold;
    font-size: 1.2em;
}
.nav ul li:hover {
    color: white;
    opacity: 70%;
    text-shadow: 1px 1px 2px black;
}
.nav{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    overflow: auto;
    text-align: center;
    background-color: rgb(203, 229, 238);
}
.main-contanier{
    width: 100%;
    height: 800px;
    background-color: azure;
}
.main-contanier .main {
    height: inherit;
    overflow: hidden;
    margin: auto;

}
.grid{
    display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: 1fr;
    border: 1px solid black;

}

.main-contanier .main .section1 {
    width: 300px;
    height: 500px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px 50px;
}
.main-contanier .main .section1 >p {
    border: 1px solid lightgray;
    background-color: lightgrey;
    width: 300px;
    height: 270px;
}
.main-contanier .main .section2 {
    display: flex;
    border: 1px solid black;
    border-radius: 20px;
    margin-left: 420px;

}
.main-contanier .main .section3 {
    display: flex;
    border: 1px solid black;
    border-radius: 20px;
    margin-left: 420px;

}

.notic p::after{ 
    content: "N";
    background-color: darkblue;
    width: 20px; height: 20px;
    display: inline-block;
    text-align: center;
    border-radius: 20px;
    color: white;
    margin-left: 5px;

}



.footer{
    background-color: lightgray;
    text-align: center;
 
}
.footer ul li {
    padding: 5px 5px;
    list-style: none;
}

